In [21]:
import pandas as pd
import numpy as np

In [22]:
# Define the file path
job_details_path = "job_details.csv"

# Read the file with an alternative encoding
try:
    data = pd.read_csv(job_details_path, encoding='latin1')
except UnicodeDecodeError:
    data = pd.read_csv(job_details_path, encoding='ISO-8859-1')

In [23]:
data.head(2)

,Job Title,EX_level_demand,Description,Category_1,Category_2,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Category_9,Client_Country,Rating,Feedback_Num,Payment_type,Hourly_Rate,Start_rate,End_rate
0,Power bi specialist freelance,Expert,Already data pooled and designed. Need to refi...,Data Analysis,Data Visualization,Microsoft Power BI,SQL,NaN,NaN,NaN,NaN,NaN,United States,NaN,0,Fixed-price,NaN,0,NaN
1,Case Study (on-demand delivery startup),Intermediate,"Hi,\n\nWould you be able to help me do a case-...",Google Data Studio,SQL,Tableau,Microsoft Excel,Microsoft PowerPoint,Python,Analytics,Visualization,NaN,Canada,5.0,1,Fixed-price,NaN,0,NaN

In [24]:
# Clean Start_rate and End_rate columns to retain numeric values
data['Start_rate'] = data['Start_rate'].replace(r'[^\d.]', '', regex=True).astype(float, errors='ignore')
data['End_rate'] = data['End_rate'].replace(r'[^\d.]', '', regex=True).astype(float, errors='ignore')

# Fill missing values
data['Start_rate'] = data['Start_rate'].fillna(data['Start_rate'].mean())
data['End_rate'] = data['End_rate'].fillna(data['End_rate'].median())
data['Rating'] = data['Rating'].fillna(data['Rating'].mean())
data['Description'] = data['Description'].fillna("No Description Provided")

In [25]:
# Map the EX_level_demand column to numeric values
level_mapping = {
    'Expert': 0,
    'Intermediate': 1,
    'Entry level': 2
}
data['EX_level_demand'] = data['EX_level_demand'].map(level_mapping)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63949 entries, 0 to 63948
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        63948 non-null  object
 1   EX_level_demand  56935 non-null  float64
 2   Description      63949 non-null  object
 3   Category_1       63505 non-null  object
 4   Category_2       59889 non-null  object
 5   Category_3       54997 non-null  object
 6   Category_4       47543 non-null  object
 7   Category_5       39578 non-null  object
 8   Category_6       31307 non-null  object
 9   Category_7       25192 non-null  object
 10  Category_8       20436 non-null  object
 11  Category_9       16481 non-null  object
 12  Client_Country   63825 non-null  object
 13  Rating           63949 non-null  float64
 14  Feedback_Num     63949 non-null  int64
 15  Payment_type     63949 non-null  object
 16  Hourly_Rate      26570 non-null  object
 17  Start_rate       63949 non-null  float64
 18  End_rate         63949 non-null  float64
dtypes: float64(4), int64(1), object(14)
memory usage: 9.3+ MB